@model IPMRVPark.WebUI.Controllers.customer_view

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>customer_view</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mainPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mainPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cellPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cellPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.homePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.homePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.faxNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.faxNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Province)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Coountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Coountry)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
