@model IPMRVPark.Models.reservation_view

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>reservation_view</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idReservationOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idReservationOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idReservationItem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idReservationItem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idRVSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idRVSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idCustomer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCustomer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RVSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RVSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arrivalDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arrivalDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departureDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.totalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.totalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numberMemberInParty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numberMemberInParty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isCancelled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isCancelled)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
