@model IPMRVPark.Models.provincecode

@{
    ViewBag.Title = "ProvinceCreate";
}

<h2>MVC COUNTRYCODE jQuery AJAX  EXAMPLE</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>provincecode</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>

        <h4 style="color: coral;">In the jQuery Ajax example, user must type some text and select a country name in the dropdownlist</h4>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#countryName").autocomplete({
                    source: function (request, response) {
                        // define a function to call the action (assuming UserController)
                        $.ajax({
                            // URL of controller and action method
                            url: '/Maintenance/SearchByNameResult',
                            // Use POST to return data
                            type: "POST",
                            // Data is transmit using Json format
                            dataType: "json",
                            // Query is the param used by action method
                            data: { query: request.term },
                            success: response
                        });
                    },
                    minLength: 1, // require at least one character from the user
                    select: function (event, ui) {
                        $('#countryCode').val(ui.item.ID); // name of form input field: CustomerID, ProductID
                    }
                });
            });
        </script>

        <div class="editor-label">
            <label for="countryCode">Country</label>
        </div>
        <div class="editor-field">
            <!-- input to transfer values to autocomplete function -->
            <input class="text-box single-line" type="text" id="countryName" />
            <!-- actual form field input, receive value from autocomplete function -->
            <input class="text-box single-line" id="countryCode" name="countryCode" type="hidden" value="" />
            <span class="field-validation-valid" data-valmsg-for="countryCode" data-valmsg-replace="true"></span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.createDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.createDate)
            @Html.ValidationMessageFor(model => model.createDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastUpdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastUpdate)
            @Html.ValidationMessageFor(model => model.lastUpdate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ProvinceIndex")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
