@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="header">
    <h1></h1>
    <div data-role="navbar">
        <a class="ui-btn" href="@Url.Action("Index", "Home")">User Login</a>

            @*<li>@Html.ActionLink("Reservation", "ReservationOrderIndex", "PrototypeUI")</li>
                <li>@Html.ActionLink("Reservation Edit", "ReservationOrderEdit", "PrototypeUI")</li>
                <li>@Html.ActionLink("Customers View", "Index", "CustomerView")</li>
                <li>@Html.ActionLink("Customers List", "Index", "Customers")</li>*@
    </div>
</div>
