@model IPMRVPark.Models.service

@{
    ViewBag.Title = "Service Details";
    ViewBag.PageTitle = "Service Details";
}
@Html.ActionLink("Home", "Menu", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Service Details", "ServiceDetails", "Service")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
        <div class="row top-margin">
                <div class="display-label col-sm-2 col-xs-12 form-top-margin">
                    <label>ID</label>
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.ID)
                </div>
            <div class="display-label col-sm-2 col-sm-push-1 col-xs-12 form-top-margin">
                <label>Description</label>
            </div>
            <div class="display-field col-sm-3 col-sm-push-1 col-xs-12 form-top-margin">
                @Html.DisplayFor(model => model.description)
            </div>
        </div>
        <div class="row top-margin">
                <div class="display-label col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                    <a href="@Url.Action("EditService", "Service", new { id = Model.ID })" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span>Edit Service</span>
                    </a>
                </div>
                <div class="display-label col-sm-5 col-sm-push-1 colxs-12 form-top-margin">
                    <a href="@Url.Action("Index", "Service")" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>Back to List</span>
                    </a>
                </div>
        </div>
    </fieldset>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
