@model IPMRVPark.Models.reservation_view

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>reservation_view</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idReservationOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idReservationOrder)
            @Html.ValidationMessageFor(model => model.idReservationOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idReservationItem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idReservationItem)
            @Html.ValidationMessageFor(model => model.idReservationItem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRVSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idRVSite)
            @Html.ValidationMessageFor(model => model.idRVSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCustomer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idCustomer)
            @Html.ValidationMessageFor(model => model.idCustomer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RVSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RVSite)
            @Html.ValidationMessageFor(model => model.RVSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fullName)
            @Html.ValidationMessageFor(model => model.fullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.arrivalDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.arrivalDate)
            @Html.ValidationMessageFor(model => model.arrivalDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.departureDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.departureDate)
            @Html.ValidationMessageFor(model => model.departureDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.totalAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.totalAmount)
            @Html.ValidationMessageFor(model => model.totalAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numberMemberInParty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numberMemberInParty)
            @Html.ValidationMessageFor(model => model.numberMemberInParty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isCancelled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isCancelled)
            @Html.ValidationMessageFor(model => model.isCancelled)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
