@{
    ViewBag.Title = "Digitize Map";
    ViewBag.PageTitle = "Digitize IPM Event Map";
}

@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Digitize IPM Event Map", "DigitizeMap", "PrototypeUI")

<!-- New Reservation-->
<div class="container-fluid">
    <!-- IPM Event-->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>IPM Event Year</label>
            </div>
            <div class="col-sm-2 col-xs-6 form-top-margin">
                <select class="form-control" data-toggle="tooltip" title="Select">
                    @for (int i = 0; i < 8; i++)
                    {
                        <option>@(2015 + i)</option>
                    }
                </select>
            </div>
            <div class="col-sm-5 col-sm-push-2 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("IPMEventInfo", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>IPM Event Info</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Select File -->
    <div class="row">
        <div class="col-sm-6 col-xs-12 top-margin">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1"></span>
                <span class="col-xs-9">Select KML File</span>
            </button>
        </div>
        <div class="col-xs-6 top-margin">
            <input type="text" class="form-control" placeholder="F:\MapRev2.KML (Selected File)" disable />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 top-margin">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-upload"></span>
                <span class="col-xs-9">Upload KML File</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 top-margin">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-transfer"></span>
                <span class="col-xs-9">Transfer Data From KML File</span>
            </button>
        </div>
    </div>
    <!-- Results From Transfer Operation -->
    <div class="row top-margin">
        <div class="col-sm-8 col-xs-12 form-top-margin">
            <span class="col-xs-1 glyphicon glyphicon-list"></span>
            <b>Results From Transfer Data</b>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Style Url</th>
                        <th style="text-align:center;">Number Of Sites</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div style="background-color: #00ff55; margin:1px; padding: 5px; border-radius:5px; height:2.5em; width:10em;">#PolyStyle01024</div></td>
                        <td style="text-align:center;">782</td>
                    </tr>
                    <tr>
                        <td><div style="background-color: #7af5f5; margin:1px; padding: 5px; border-radius:5px; height:2.5em; width:10em;">#PolyStyle0992</div></td>
                        <td style="text-align:center;">420</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Associate site types with KML styles -->
    <div class="row top-margin">
        <div class="col-sm-8 col-xs-12 form-top-margin">
            <span class="col-xs-1 glyphicon glyphicon-link"></span>
            <b>Associate IPM Event Site Types with KML Style Url</b>
        </div>
    </div>
    <div class="row form-top-margin">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Size</th>
                        <th>Service</th>
                        <th>KML Style</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>25x40</td>
                        <td>Unserviced</td>
                        <td><div style="background-color: #00ff55; margin:1px; padding: 5px; border-radius:5px; height:2.5em; width:10em;">#PolyStyle01024 &nbsp;<span class="caret"></span></div></td>
                    </tr>
                    <tr>
                        <td>25x40</td>
                        <td>15 amps lots</td>
                        <td><div style="background-color: #7af5f5; margin:1px; padding: 5px; border-radius:5px; height:2.5em; width:10em;">#PolyStyle0992 &nbsp;<span class="caret"></span></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                <span class="col-xs-9">Confirm Association</span>
            </button>
        </div>
    </div>
    <!-- Build Map-->
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 top-margin" data-toggle="tooltip" title="Go To">
            <a href="@Url.Action("IPMEventMap", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="col-xs-1 glyphicon glyphicon-picture"></span>
                <span class="col-xs-9">Build & Show Map</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
