@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = "IPM RV Park System";
}

<div class="container-fluid">
    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuIPMEvent">
                <span class="glyphicon glyphicon-map-marker"></span>
                IPM Event Map
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuIPMEvent" class="col-xs-12 collapse">
            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("EventMap", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-picture"></span>
                    <span>Large Screen Display</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>Edit IPM Event Info</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuSiteReservation">
                <span class="glyphicon glyphicon-tag"></span>
                Site Reservation
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuSiteReservation" class="col-xs-12 collapse">
            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("Reservation", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Reservation</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("ReservationSearch", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Reservation</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuCustomerRegistration">
                <span class="glyphicon glyphicon-user"></span>
                Customer Registration
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuCustomerRegistration" class="col-xs-12 collapse">
            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("Customer", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("CustomerSearch", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuPaymentRefund">
                <span class="glyphicon glyphicon-usd"></span>
                Payments & Refunds
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuPaymentRefund" class="col-xs-12 collapse">
            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("Payment", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Payment</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Refund", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To" style="background-color:#FFFFDD;">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Refund</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("PaymentSearch", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Payment</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuSystemMaintenance">
                <span class="glyphicon glyphicon-wrench"></span>
                System Maintenance
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuSystemMaintenance" class="col-xs-12 collapse">
            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Site Size</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Site Power Supply</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>New Staff Member</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Edit Staff Member</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Province</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Country</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

</div>

