@{
    ViewBag.Title = "Site Reservation";
    ViewBag.PageTitle = "New Reservation";
}

@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
Site Reservation
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("New Reservation", "Reservation", "PrototypeUI")

<!-- New Reservation-->
<div class="container-fluid">
    <!-- RV Site Dates-->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>Arrival Date</label>
            </div>
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <input type="date" class="form-control">
            </div>
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>Departure Date</label>
            </div>
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
    <!-- RV Site Tag-->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-1 col-xs-12 form-top-margin">
                <label>Site</label>
            </div>
            <div class="col-sm-2 col-xs-6 form-top-margin">
                <select class="form-control" data-toggle="tooltip" title="Filter, search and select">
                    <option>Letter</option>
                    <option>All letters - No Filter</option>
                    @for (char i = 'A'; i < 'W'; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </div>
            <div class="col-sm-3 col-xs-6 form-top-margin">
                <select class="form-control" data-toggle="tooltip" title="Filter, search and select">
                    <option>Number</option>
                    <option>All numbers - No Filter</option>
                    @for (int i = 20; i < 36; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <select class="form-control" data-toggle="tooltip" title="Filter, search and select">
                    <option>Type</option>
                    <option>All types - No Filter</option>
                    <option>25x40 30 amps lots</option>
                    <option>25x40 15 amps lots</option>
                    <option>30x45 15 amps lots</option>
                </select>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("IPMEventMap", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>Large Screen Display</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Total amount for this site reservation -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-8 col-xs-12 form-top-margin">
                <label>Total Amount For This Site Reservation</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" min="0.00" step="any" class="form-control" placeholder="CAD$ 1,345." style="text-align:right" disabled>
            </div>
        </div>
    </div>
    <!-- Customer -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Customer</label>
            </div>
            <div class="col-sm-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Filter, search and select">
                <select class="form-control">
                    <option>Full Name</option>
                    @for (int i = 0; i < 8; i++)
                    {
                        <option>Mary Denver Holtz @i</option>
                    }
                </select>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("Customer", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Confirmation -->
    <div class="row">
        <div class="form-group">
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>Reservation Summary</label>
            </div>
            <div class="col-sm-9 col-xs-12 form-top-margin">
                <textarea class="form-control" rows="2" disabled>Site X-88, Mary Denver, Jun-21/Jun-25, CAD$ 2,850.</textarea>
            </div>
            <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin">
                <button class="btn btn-block btn-default">
                    <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                    <span class="col-xs-9">Confirm Site Reservation</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Repeat Reservation -->
    <div class="row top-margin">
        <div class="col-sm-6 col-sm-push-6 col-xs-12">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-plus-sign"></span>
                <span class="col-xs-9">Add More Site(s) For This Customer</span>
            </button>
        </div>
    </div>
    <!-- List of other sites reserved for this same customer -->
    <div class="row top-margin">
        <div class="col-sm-6 col-sm-push-6 col-xs-12" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#sitesCustomer">
                <span class="col-xs-1 glyphicon glyphicon-list"></span>
                <span class="col-xs-9">List All Sites For This Customer &nbsp;<span class="collapsible"></span></span>
            </button>
        </div>
    </div>
    <div id="sitesCustomer" class="col-xs-12 collapse">
        <table class="table">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Arrival</th>
                    <th style="text-align:right;">Total</th>
                    <th style="text-align:right;">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A-21</td>
                    <td>160205</td>
                    <td style="text-align:right;">$ 2,400.</td>
                    <td style="text-align:right;">Reserved</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>A-23</td>
                    <td>160221</td>
                    <td style="text-align:right;">$ 1,400.</td>
                    <td style="text-align:right;">Selected</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>A-27</td>
                    <td>160221</td>
                    <td style="text-align:right;">$ 1,400.</td>
                    <td style="text-align:right;">Selected</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Account Balance for this customer -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-6 col-xs-12 form-top-margin">
                <label>Account Balance For This Customer</label>
            </div>
            <div class="col-sm-6 col-xs-12 form-top-margin">
                <input type="text" min="0.00" step="any" class="form-control" placeholder="CAD$ 3,045." style="text-align:right" disabled>
            </div>
        </div>
    </div>
    <!-- Payment-->
    <div class="row top-margin">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
            <a href="@Url.Action("Payment", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="glyphicon glyphicon-plus-usd"></span>
                <span>Proceed To Payment</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
