@model IEnumerable<IPMRVPark.Models.sitetype>

@{
    ViewBag.Title = "SiteType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SiteType</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idIPMEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StyleUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.backgroundColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSiteSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPowerSupply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isUnserviced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isForHandicapped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idIPMEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StyleUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.backgroundColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSiteSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPowerSupply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isUnserviced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isForHandicapped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
