@model IPMRVPark.Models.sitesize

@{
    ViewBag.Title = "Add Site Size";
    ViewBag.PageTitle = "Add Site Size";
}
@Html.ActionLink("Home", "Menu", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Add Site Size", "CreateSiteSize", "SiteSize")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
        <div class="row top-margin">
                <div class="col-sm-2 col-xs-12 form-top-margin">
                    <label>Description</label>
                </div>
                <div class="col-sm-10 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="description" name="description" placeholder="enter site size description here ..." />
                    @Html.ValidationMessageFor(model => model.description)
                </div>
        </div>
        <div class="row top-margin">
                <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin">
                    <button type="submit" class="btn btn-block btn-default">
                        <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                        <span class="col-xs-9">Confirm Site Size</span>
                    </button>
                </div>
        </div>
        <div class="row top-margin">
            <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("Index", "SiteSize")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span>Back to List</span>
                </a>
            </div>
        </div>
    </fieldset>
</div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
