@model IPMRVPark.Models.province_view

@{
    ViewBag.Title = "Add Province";
    ViewBag.PageTitle = "Add Province";
}
@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Add Province", "CreateProvince", "ProvinceView")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
        <div class="row top-margin">
            <div class="form-group">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Province Code :</label>
                </div>
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="provinceCode" name="provinceCode" placeholder="enter 2 digits code ..." />
                    @Html.ValidationMessageFor(model => model.provinceCode)
                </div>

                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Province Name :</label>
                </div>
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="provinceName" name="provinceName" placeholder="enter province name here ..." />
                    @Html.ValidationMessageFor(model => model.provinceName)
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="form-group">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Country :</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    @Html.DropDownListFor(model => model.countryCode,
                        new SelectList(ViewBag.Country, "code", "name"),
                        "Select Country",
                        new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.countryCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="form-group">
                <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin">
                    <button type="submit" class="btn btn-block btn-default">
                        <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                        <span class="col-xs-9">Confirm Province</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("Index", "ProvinceView")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>Back to List</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </fieldset>
</div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
