@model IPMRVPark.Models.staff_view

@{
    ViewBag.Title = "Staff Details";
    ViewBag.PageTitle = "Details Staff";
}
@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Staff Details", "StaffDetails", "StaffView")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.id)
        <div class="row top-margin">
            <div class="form-group">
                <div class="display-label col-sm-3 col-xs-12 form-top-margin">
                    First Name :
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.firstName)
                </div>
                <div class="display-label col-sm-3 col-xs-12 form-top-margin">
                    Last Name:
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.lastName)
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="form-group">
                <div class="display-label col-sm-3 col-xs-12 form-top-margin">
                    Full Name:
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.fullName)
                </div>
                <div class="display-label col-sm-3 col-xs-12 form-top-margin">
                    E-mail :
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.email)
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="form-group">
                <div class="display-label col-sm-3 col-xs-12 form-top-margin">
                    Main Phone :
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.mainPhone)
                </div>
                <div class="display-label col-sm-3 col-xs-12 form-top-margin">
                    Role :
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.role)
                </div>
            </div>
        </div>

        <div class="row top-margin">
            <div class="form-group">
                <div class="display-label col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                    @*@Html.ActionLink("Edit", "EditStaff", new { id = Model.id }, new { @class = "btn btn-success" })*@
                    <a href="@Url.Action("EditStaff", "StaffView", new { id = Model.id })" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span>Update Staff</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="display-label col-sm-5 col-sm-push-1 colxs-12 form-top-margin">
                    <a href="@Url.Action("Index", "StaffView")" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span>Back to List</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
