@model IPMRVPark.Models.paydoctype

@{
    ViewBag.Title = "Add Pay Document Type";
    ViewBag.PageTitle = "Add Pay Document Type";
}
@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Add Pay Document Type", "CreatePayDocType", "PayDocType")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
        <div class="row top-margin">
            <div class="form-group">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>ID :</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="ID" name="ID" placeholder="enter code here ..." />
                    @Html.ValidationMessageFor(model => model.ID)
                </div>

                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Description :</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="description" name="description" placeholder="enter payment document type here ..." />
                    @Html.ValidationMessageFor(model => model.description)
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="form-group">
                <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin">
                    <button type="submit" class="btn btn-block btn-default">
                        <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                        <span class="col-xs-9">Confirm Pay Document Type</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("Index", "PayDocType")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>Back to List</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </fieldset>
</div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
