@model IPMRVPark.Models.paydoctype

@{
    ViewBag.Title = "Edit Payment Document Type";
    ViewBag.PageTitle = "Edit Payment Document Type";
}
@Html.ActionLink("Home", "Menu", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Edit Payment Document Type", "EditPayDocType", "PayDocType")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
            <div class="form-group">
                <div class="editor-label col-sm-3 col-xs-12 form-top-margin">
                    <label>ID</label>
                </div>
                <div class="editor-field col-sm-8 col-xs-12 form-top-margin">
                    @Html.EditorFor(model => model.ID)
                </div>
                <div class="editor-label col-sm-3 col-xs-12 form-top-margin">
                    <label>Description</label>
                </div>
                <div class="editor-field col-sm-8 col-xs-12 form-top-margin">
                    @Html.EditorFor(model => model.description)
                    @Html.ValidationMessageFor(model => model.description)
                </div>
        </div>

        <div class="row top-margin">
                <div class="editor-label col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                    <button type="submit" class="btn btn-block btn-default">
                        <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                        <span class="col-xs-9">Confirm Edit</span>
                    </button>
                </div>
                <div class="editor-label col-sm-5 col-sm-push-1 colxs-12 form-top-margin">
                    <a href="@Url.Action("Index", "PayDocType")" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>Back to List</span>
                    </a>
                </div>
        </div>
    </fieldset>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
