@model IPMRVPark.Models.countrycode

@{
    ViewBag.Title = "Country Details";
    ViewBag.PageTitle = "Country Details";
}
@Html.ActionLink("Home", "Menu", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
Maintenance
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Country Details", "CountryDetails", "Country")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container-fluid">
    <fieldset>
        <legend></legend>
        <div class="row top-margin">
                <div class="display-label col-sm-2 col-xs-12 form-top-margin">
                    <label>Country Code</label>
                </div>
                <div class="display-field col-sm-3 col-xs-12 form-top-margin">
                    @Html.DisplayFor(model => model.code)
                </div>
                <div class="display-label col-sm-2 col-sm-push-1 col-xs-12 form-top-margin">
                    <label>Country Name</label>
                </div>
            <div class="display-field col-sm-3 col-sm-push-1 col-xs-12 form-top-margin">
                @Html.DisplayFor(model => model.name)
            </div>
        </div>
        <div class="row top-margin">
                <div class="display-label col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                    <a href="@Url.Action("EditCountry", "Country", new { id = Model.code })" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span>Edit Country</span>
                    </a>
                </div>
                <div class="display-label col-sm-5 col-sm-push-1 colxs-12 form-top-margin">
                    <a href="@Url.Action("Index", "Country")" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>Back to List</span>
                    </a>
                </div>
        </div>
    </fieldset>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
