@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = "IPM RV Park System";
}

<div class="container-fluid">
    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuIPMEvent">
                <span class="glyphicon glyphicon-map-marker"></span>
                IPM Event Map
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuIPMEvent" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("IPMEventMap", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-picture"></span>
                    <span>Large Screen Display</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("IPMEventInfo", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-blackboard"></span>
                    <span>IPM Event Info & Rates</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("DigitizeMap", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-open-file"></span>
                    <span>Digitize IPM Event Map</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- last Item is for file upload & parse test -->
                <a href="@Url.Action("DigitizeMap_parse", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-open-file"></span>
                    <span>KML File Upload & Parse</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuSiteReservation">
                <span class="glyphicon glyphicon-tag"></span>
                Site Reservation
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuSiteReservation" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("NewReservation", "Reservation")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Reservation</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("SearchReservation", "Reservation")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Reservation</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuCustomerRegistration">
                <span class="glyphicon glyphicon-user"></span>
                Customer Registration
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuCustomerRegistration" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("CreateCustomer", "Customer")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("CustomerSearch", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuPaymentRefund">
                <span class="glyphicon glyphicon-usd"></span>
                Payments & Refunds
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuPaymentRefund" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("PaymentOrRefund", "Payment")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Payment</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("PaymentSearch", "Payment")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Payment</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuSystemMaintenance">
                <span class="glyphicon glyphicon-wrench"></span>
                System Maintenance
                <span class="caret"></span>
            </button>
        </div>
        <div id="menuSystemMaintenance" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-6 col-sm-push-4">
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Site Size</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Site Service</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>New Staff Member</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Edit Staff Member</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Province</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Country</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <div style="background-color:aquamarine;">
                    <h4>Developers Links</h4>
                    <p>@Html.ActionLink("Customers", "Index", "Customers", null, new { @style = "background-color:aquamarine;" })</p>
                    <p>@Html.ActionLink("Customer View", "Index", "CustomerView", null, new { @style = "background-color:aquamarine;" })</p>
                    <p>@Html.ActionLink("Country", "Index", "Country", null, new { @style = "background-color:aquamarine;" })</p>
                </div>
            </div>
        </div>
    </div>
</div>



