@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = "IPM RV Park System";
}

<div class="container-fluid">
    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuIPMEvent">
                <span class="glyphicon glyphicon-map-marker"></span>
                IPM Event Map
                <span class="collapsible"></span>
            </button>
        </div>
        <div id="menuIPMEvent" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-5 col-sm-push-4">
                <a href="@Url.Action("IPMEventMap", "EventMap")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-picture"></span>
                    <span>Large Screen Display</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("IPMEventInfo", "EventMap")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-blackboard"></span>
                    <span>IPM Event Info & Rates</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("DigitizeMap","EventMap")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-open-file"></span>
                    <span>Digitize IPM Event Map</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span>Select IPM Event Year</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuSiteReservation">
                <span class="glyphicon glyphicon-tag"></span>
                Site Reservation
                <span class="collapsible"></span>
            </button>
        </div>
        <div id="menuSiteReservation" class="col-xs-12">
            <div class="col-xs-10 col-xs-push-2 col-sm-5 col-sm-push-4">
                <a href="@Url.Action("NewReservation", "Reservation")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Reservation</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("SearchReservation", "Reservation")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Reservation</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuCustomerRegistration">
                <span class="glyphicon glyphicon-user"></span>
                Customer Registration
                <span class="collapsible"></span>
            </button>
        </div>
        <div id="menuCustomerRegistration" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-5 col-sm-push-4">
                <a href="@Url.Action("CreateCustomer", "Customer")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("SearchCustomer", "Customer")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuPaymentRefund">
                <span class="glyphicon glyphicon-usd"></span>
                Payments & Refunds
                <span class="collapsible"></span>
            </button>
        </div>
        <div id="menuPaymentRefund" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-5 col-sm-push-4">
                <a href="@Url.Action("PaymentOrRefund", "Payment")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Payment</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("SearchPayment", "Payment")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Payment</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-default btn-block " data-toggle="collapse" data-target="#menuSystemMaintenance">
                <span class="glyphicon glyphicon-wrench"></span>
                System Maintenance
                <span class="collapsible"></span>
            </button>
        </div>
        <div id="menuSystemMaintenance" class="col-xs-12 collapse">
            <div class="col-xs-10 col-xs-push-2 col-sm-5 col-sm-push-4">
                <a href="@Url.Action("Index", "SiteSize")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Site Size</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Index", "Service")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Site Service</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Index", "Staff")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Staff Member</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Index", "Province")" class="btn btn-block btn-default btn-mylink form-top-margin pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Province</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="@Url.Action("Index", "Country")" class="btn btn-block btn-default btn-mylink pagination-centered" data-toggle="tooltip" title="Go To">
                    <span>Country</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>



