@model  IEnumerable<IPMRVPark.Models.customer_view>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.faxNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.cellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.homePhone)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.faxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.postalCode)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Country)
        </td>
    </tr>
}

</table>
