@model IEnumerable<IPMRVPark.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.person.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.person.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.person.mainPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.person.email)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.faxNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provinceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.countryCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.person.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person.mainPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person.email)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.cellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.faxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provinceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.countryCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
