<script type="text/javascript">
    $(document).ready(function () {
        // Resolve root path
        var origin = window.location.origin;
        if (origin == 'http://www.alvm.com.br') {
            var root = 'http://www.alvm.com.br/ipmrvpark/';
        }
        else {
            var root = '../';
        }
        // ****** Preparation For Edit Reservation
        if(@ViewBag.SiteID != -1){
            $('#btnSelectSite').hide();
            $('#btnLargeDisplay').hide();
            $('#btnUpdateSite').show();
            $('#btnCancelSite').show();
            $('#btnRemoveSite').show();
            $('#idRVSite').val(@ViewBag.SiteID);
            $('#siteName').prop('disabled', true);
            setTimeout( function(){
                getSiteData();
            }, 5000);
        }
        else{
        }
        $('#siteName').focus();
        $('#btnUpdateSite').click(function(event){
            $('#waitMsg').show();// Show wait message
        });
        $('#btnCancelSite').click(function(event){
            $('#waitMsg').show();// Show wait message
        });
        // ***** Dates Selection
        $('#checkInDate').datepicker({
            dateFormat: 'D, dd M yy',
            minDate: @ViewBag.minDate,
            maxDate: @ViewBag.maxDate,
            showOtherMonths: true,
            selectOtherMonths: true,
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            onSelect: function () {
                var dt2 = $('#checkOutDate');
                var startDate = $(this).datepicker('getDate');
                //add 7 days to selected date
                startDate.setDate(startDate.getDate() + 7);
                var minDate = $(this).datepicker('getDate');
                //minDate of dt2 datepicker = dt1 selected day
                dt2.datepicker('setDate', startDate);
                //sets dt2 maxDate
                dt2.datepicker('option', 'maxDate', @ViewBag.maxDate);
                //first day which can be selected in dt2 is selected date in dt1
                dt2.datepicker('option', 'minDate', minDate);
                //$('#checkOutDate').val(startDate);
                selectCheckInOutDates(); // Update session with dates
                getSiteData(); // Calculate total for selected site
            }
        });
        $('#checkInDate').datepicker('setDate', @ViewBag.checkInDate);
        $('#checkInDate').click(function(event){
            var dim = $(this).offset();
            $('#ui-datepicker-div').offset({
                top     :   dim.top - 0,
                left    :   dim.left - 0
            });
        });
        $('#checkOutDate').datepicker({
            dateFormat: 'D, dd M yy',
            showOtherMonths: true,
            selectOtherMonths: true,
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            onSelect: function () {
                selectCheckInOutDates(); // Update session with dates
                getSiteData(); // Calculate total for selected site
                $('#siteName').focus();
            }
        });
        $('#checkOutDate').datepicker('setDate', @ViewBag.checkOutDate);
        $('#checkOutDate').click(function(event){
            var dim = $(this).offset();
            $('#ui-datepicker-div').offset({
                top     :   dim.top - 0,
                left    :   dim.left - 0
            });
        });
        function selectCheckInOutDates() {            
            var postpath = root + 'Reservation/SelectCheckInOutDates';
            var checkInDate = $('#checkInDate').val().toString('dd/mm/yy');
            var checkOutDate = $('#checkOutDate').val().toString('dd/mm/yy');
            //alert(checkInDate + " " + checkOutDate);
            $.ajax({
                url: postpath,
                type: 'POST',
                dataType: 'json',
                data: { //Passing data
                    checkInDate: checkInDate, //Reading text box values using jQuery
                    checkOutDate: checkOutDate //Reading text box values using jQuery
                },
                success: function (result) {
                },
                error: function (result) {
                    alert('27 Some error occured.');
                }
            });
        };
        // ***** Site Search
        $('#siteName').click(function (){
            $('#siteName').val('');
            $('#siteTotal').text('');
            $('#btnSelectSite').prop('disabled', true);
        });
        $('#siteName').autocomplete({
            source: function (request, response) {
                var postpath = root + 'Search/SearchSiteByNameResult';
                $.ajax({
                    url: postpath,
                    type: 'POST',
                    dataType: 'json',
                    // query will be the param used by the action method
                    data: { query: request.term },
                    success: response
                });
            },
            minLength: 1, // require at least one character from the user
            select: function (event, ui) {
                $('#idRVSite').val(ui.item.ID); // name of form input field: CustomerID, ProductID
                $('#btnSelectSite').prop('disabled', false);
                $('#btnSelectSite').focus();
                getSiteData(); // Calculate total for selected site
            }
        });
        function getSiteData() {
            if($('#idRVSite').val().length>0) {// Check if idRVSite is null
                //alert($('#idRVSite').val());
                var postpath = root + 'Reservation/GetSiteData';
                $.ajax({
                    url: postpath,
                    type: 'POST',
                    dataType: 'json',
                    data: { //Passing data
                        checkInDate: $('#checkInDate').val(), //Reading text box values using jQuery
                        checkOutDate: $('#checkOutDate').val(),
                        idRVSite: $('#idRVSite').val()
                    },
                    success: function(site){
                        $('#siteTotal').text(site.amount);
                        $('#siteType').text(site.type);
                        $('#siteDailyRate').text(site.dailyRate);
                        $('#siteWeeklyRate').text(site.weeklyRate);
                        $('#waitMsg').hide();// Show wait message
                    },
                    error: function () {
                        alert('51 Some error occured.');}
                });
            };
        };
        // ***** Site Selection
        $('#btnSelectSite').prop('disabled', true);
        //function will be called on button click
        $('#btnSelectSite').click(function () {
            $('#waitMsg').show();// Show wait message
            var postpath = root + 'Reservation/SelectSite';
            $.ajax({                
                url: postpath,
                type: 'POST',
                dataType: 'json',
                data: { //Passing data
                    checkInDate: $('#checkInDate').val(), //Reading text box values using jQuery
                    checkOutDate: $('#checkOutDate').val(),
                    idRVSite: $('#idRVSite').val()
                },
                success: function (result) {
                    $('#btnSelectSite').prop('disabled', true); // Disable select button
                    $('#siteName').val(''); // Reset site name
                    $('#siteTotal').text(''); // Reset site total
                    $('#waitMsg').hide();
                    $('#customerName').focus();
                },
                error: function (result) {
                    alert('2 Some error occured.' + $('#idRVSite').val() );
                }
            });
        });
    });
</script>

<div class="container-fluid">
    <!-- RV Site Dates-->
    <div class="row">
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <label>Check In Date</label>
        </div>
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <input type="text" id="checkInDate" class="form-control" />
        </div>
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <label>Check Out Date</label>
        </div>
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <input type="text" id="checkOutDate" class="form-control" />
        </div>
    </div>
    <!-- RV Site Selection -->
    <div class="row form-top-margin">
        <div class="col-sm-2 col-xs-12 form-top-margin">
            <label>RV Site</label>
        </div>
        <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Search and selecte with autocomplete">
            <input type="text" class="form-control" id="siteName" placeholder="Type letter or number then select from the list" value="@ViewBag.SiteName" />
            <input class="text-box single-line" id="idRVSite" name="idRVSite" type="hidden" />
        </div>
        <div class="col-sm-2 col-xs-12 form-top-margin">
            <div id="siteTotal" type="text" class="form-control" style="text-align:right" disabled> 0.00</div>
        </div>
        <div class="col-sm-4 col-xs-12 form-top-margin">
            <button id="btnSelectSite" class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                <span class="col-xs-9">Select Site</span>
            </button>
            <!-- Update Selected Site Dates -->
            <a id="btnUpdateSite" style="display: none;" href="@Url.Action("UpdateSelected","Reservation", new { id=@ViewBag.SelectedID })" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>Update Dates</span>
            </a>
        </div>
    </div>
    <div class="row form-top-margin">
        <div class="col-sm-1 col-xs-12 form-top-margin">
            <label>Type</label>
        </div>
        <div class="col-sm-5 col-xs-12 form-top-margin">
            <div id="siteType" type="text" class="form-control" disabled></div>
        </div>
    </div>
    <div class="row form-top-margin">
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <label>Daily Rates</label>
        </div>
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <div id="siteDailyRate" type="text" class="form-control" style="text-align:right" disabled></div>
        </div>
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <label>Weekly Rates</label>
        </div>
        <div class="col-sm-3 col-xs-12 form-top-margin">
            <div id="siteWeeklyRate" type="text" class="form-control" style="text-align:right" disabled></div>
        </div>
    </div>
    <div id="btnCancelSite" class="row form-top-margin" style="display: none;">
        <div class="col-sm-4 col-sm-push-8 col-xs-12 form-top-margin">
            <a class="btn btn-block btn-default btn-mylink pagination-centered" href="@Url.Action("RemoveSelected","Reservation", new { id=@ViewBag.SelectedID })"><span class="glyphicon glyphicon-erase"></span>&nbsp; Cancel</a>
        </div>
    </div>
</div>
