@model IEnumerable<IPMRVPark.Models.selecteditem>

@{
    ViewBag.Title = "Site Reservation";
    ViewBag.PageTitle = "Edit Reservation";
}

@Html.ActionLink("Home", "Menu", "Reservation")
<span class="glyphicon glyphicon-chevron-right"></span>
Site Reservation
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Edit Reservation", "Reservation", "Reservation")


<script type="text/javascript">
    $(document).ready(function () {
        $("#waitMsg").hide();// Hide wait message
        $('.showWaitMsg').click(function () {
            $("#waitMsg").show();// Show wait message
        });
    });
</script>

<div class="container-fluid">
    <div class="row form-top-margin">
        <div class="col-sm-2 col-xs-12 form-top-margin">
            <label>Customer</label>
        </div>
        <div class="col-sm-6 col-xs-12 form-top-margin">
            <div>@ViewBag.Customer</div>
        </div>
    </div>

    <!-- List of selected sites -->
    <div class="row form-top-margin">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Type</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th style="text-align:right;">Total</th>
                        <th style="border-top:none">
                            <div class="dropdown pull-right">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li class="showWaitMsg"><a id="removeAllSelected" href="@Url.Action("RemoveAllReserved","Reservation")"><span class="glyphicon glyphicon-erase"></span>&nbsp; Cancel All</a></li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.site)</td>
                            <td>@Html.DisplayFor(modelItem => item.siteType)</td>
                            <td>@item.reservationCheckInDate.ToString("ddd"), @item.reservationCheckInDate.ToString("dd") @item.reservationCheckInDate.ToString("MMM")</td>
                            <td>@item.reservationCheckOutDate.ToString("ddd"), @item.reservationCheckOutDate.ToString("dd") @item.reservationCheckOutDate.ToString("MMM")</td>
                            <td style="text-align:right;">@Html.DisplayFor(modelItem => item.reservationAmount)</td>
                            <td rowspan="2" style="border-top:none">
                                <div class="dropdown pull-right">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        @if (item.isSiteChecked)
                                        {
                                            <li>
                                                <a href="@Url.Action("EditReserved", "Reservation", new { selectedID = item.ID })">
                                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit
                                                </a>
                                            </li>
                                            <li class="showWaitMsg"><a href="@Url.Action("RemoveReserved", "Reservation", new { id = item.ID })"><span class="glyphicon glyphicon-erase"></span>&nbsp; Cancel</a></li>
                                        }
                                        else
                                        {
                                            <li class="showWaitMsg"><a href="@Url.Action("ReinsertReserved", "Reservation", new { id = item.ID })"><span class="glyphicon glyphicon-plus"></span>&nbsp; Reinsert</a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    <!-- Show changed values if there are changes-->
                        if (item.reservationAmount != item.total && item.isSiteChecked)
                        {
                            <tr>
                                <td style="border-top:none; padding-top: 0;"></td>
                                <td style="border-top:none; padding-top: 0;">Changed to:</td>
                                <td style="border-top:none; padding-top: 0;">@item.checkInDate.ToString("ddd"), @item.checkInDate.ToString("dd") @item.checkInDate.ToString("MMM")</td>
                                <td style="border-top:none; padding-top: 0;">@item.checkOutDate.ToString("ddd"), @item.checkOutDate.ToString("dd") @item.checkOutDate.ToString("MMM")</td>
                                <td style="border-top:none; padding-top: 0; text-align:right;">@Html.DisplayFor(modelItem => item.total)</td>
                            </tr>
                        }
                        else
                        {
                            <tr></tr>
                        }
                        if (!item.isSiteChecked)
                        {
                            <tr>
                                <td style="border-top:none; padding-top: 0;"></td>
                                <td style="border-top:none; padding-top: 0;">Cancelled:</td>
                                <td colspan="3" style="border-top:none; padding-top: 0; text-align:right;">@Html.DisplayFor(modelItem => item.total)</td>
                                <td style="border-top:none; padding-top: 0;"></td>
                            </tr>
                        }
                        else
                        {
                            <tr></tr>
                        }
                    }
                    <tr>
                        <td>Primary Reservation Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:right;">@ViewBag.PrimaryTotal</td>
                        <td></td>
                    </tr>
                    <!-- There are changes-->
                    @if (ViewBag.PrimaryTotal != ViewBag.SelectionTotal)
                    {
                        <tr>
                            <td>New Reservation Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align:right;">@ViewBag.SelectionTotal</td>
                            <td></td>
                        </tr>
                        if (ViewBag.CancellationFee != "0.00")
                        {
                            <tr>
                                <td colspan="4" style="text-align:right;">Cancellation Fee</td>
                                <td style="text-align:right;">@ViewBag.CancellationFee</td>
                                <td></td>
                            </tr>
                        }
                        if (ViewBag.dueAmount != "0.00")
                        {
                            <tr>
                                <td colspan="4" style="text-align:right;">Due Amount</td>
                                <td style="text-align:right;">@ViewBag.dueAmount</td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" style="text-align:right;">Refund Amount</td>
                                <td style="text-align:right;">@ViewBag.refundAmount</td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (ViewBag.dueAmount != "0.00")
    {
    <!-- Proceed To Payment -->
        <div class="showWaitMsg">
            <div class="row form-top-margin">
                <div class="col-sm-4 col-sm-push-8 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                    <a id="btnPayment" href="@Url.Action("PaymentOrRefund", "Payment")" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-usd"></span>
                        <span>Payment</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.refundAmount != "0.00")
    {
    <!-- Proceed To Refund -->
        <div class="showWaitMsg">
            <div class="row form-top-margin">
                <div class="col-sm-4 col-sm-push-8 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                    <a id="btnRefund" href="@Url.Action("PaymentOrRefund", "Payment")" class="btn btn-block btn-warning btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-usd"></span>
                        <span>Refund</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>