@model IEnumerable<IPMRVPark.Models.total_per_selecteditem_view>

<script type="text/javascript">
    $(document).ready(function () {
        $("#waitMsg").hide();// Show wait message
    });
</script>
<!-- Reservation Summary -->
<div class="row top-margin">
    <div class="col-sm-6 col-xs-12 form-top-margin">
        <label>Reservation Summary For Customer</label>
    </div>
    <div class="col-sm-6 col-xs-10 form-top-margin">

        @if (ViewBag.Customer == null)
        {
            <div class="reservationWarning">NO CUSTOMER SELECTED YET</div>
        }
        else
        {
            <div>@ViewBag.Customer</div>
        }

    </div>
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    @*<th style="text-align:right;">Selected</th>*@
                    <th>Site</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th style="text-align:right;">Total</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
            {
                    <tr>
                        @*<td style="text-align:right;">@Html.DisplayFor(modelItem => item.isSiteChecked)<input type="checkbox" checked></td>*@
                        <td>@Html.DisplayFor(modelItem => item.site)</td>
                        <td>@item.checkInDate.ToString("ddd"), @item.checkInDate.ToString("dd") @item.checkInDate.ToString("MMM")</td>
                        <td>@item.checkOutDate.ToString("ddd"), @item.checkOutDate.ToString("dd") @item.checkOutDate.ToString("MMM")</td>
                        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.total)</td>
                    </tr>
                }
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;">@ViewBag.totalAmount</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1">
                        @if (@ViewBag.totalAmount == null)
                        {
                            <div class="reservationWarning">NO SITE SELECTED YET</div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>