<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IPM RV Park App</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container-fluid" style="background-color: #f8f8f8; border-color: #e7e7e7; border-radius: 0 0 5px 5px;">
            <div class="row">
                <div class="col-xs-6 col-sm-3" style="display:block; margin-top:0.5em;margin-bottom:0.5em;" pagination-centered" data-toggle="tooltip" title="Go Back To Main Menu">
                    <a href="@Url.Action("Menu", "PrototypeUI")" class="btn btn-default btn-block btn-mylink col-xs-10">
                        <span class="glyphicon glyphicon-home"></span>
                        <span style="height:2em;">Home</span>
                    </a>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-7 col-sm-8" style="margin-top:0.8em; margin-bottom:0.5em; margin-left:0; font-size:1.2em; font-weight: bold; color: #337ab7;">
                    @ViewBag.PageTitle
                </div>
            </div>
        </div>
    </header>

    <section>
        @RenderBody()
    </section>
    <div class="container-fluid">
        <div class="row top-margin">
            <div class="col-xs-3">
                <div class="btn btn-default btn-block" style="margin-top:0.5em;" data-toggle="tooltip" title="Go To Top Of This Page">
                    <a href="#">Back To Top <span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
            </div>
            <div class="col-xs-3 col-xs-push-6">
                <div class="btn btn-default btn-block" style="margin-top:0.5em;">
                    <a href="@Url.Action("Home", "PrototypeUI")">Log Out &nbsp; &nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" style="text-align:center; margin-top:2em; margin-bottom:2em;">
        <p>&copy; @DateTime.Now.Year - IPM RV Park Reservation System</p>
    </footer>

    <div style="background-color:aquamarine;">
        <h4>Developers Links</h4>
        <p>@Html.ActionLink("Customers", "Index", "Customers", null, new { @style = "background-color:aquamarine;" })</p>
        <p>@Html.ActionLink("Customer View", "Index", "CustomerView", null, new { @style = "background-color:aquamarine;" })</p>
        <p>@Html.ActionLink("Country", "Index", "Country", null, new { @style = "background-color:aquamarine;" })</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
