<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IPM RV Park App</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-mobile")
    @Scripts.Render("~/bundles/jquery-val")
</head>

<body>
    <div data-role="page" id="pageone">
        <div data-role="header">
            <h1>Welcome To My Homepage</h1>
            <div data-role="navbar">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reservation Index", "ReservationOrderIndex", "PrototypeUI")</li>
                    <li>@Html.ActionLink("Reservation Edit", "ReservationOrderEdit", "PrototypeUI")</li>
                    <li>@Html.ActionLink("Customers View", "Index", "CustomerView")</li>
                    <li>@Html.ActionLink("Customers List", "Index", "Customers")</li>
                </ul>
            </div>
        </div>
        <div data-role="main" class="ui-content">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <div data-role="footer">
            <h1>My Footer</h1>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>