@model IEnumerable<IPMRVPark.Models.payment_view>

<script type="text/javascript">
    $(document).ready(function () {
        $("#waitMsg").hide();// Show wait message
    });
</script>
<!-- Reservation Summary -->
<div class="row top-margin">
    <div class="col-sm-6 col-xs-12 form-top-margin">
        <label>Payments Summary For Customer</label>
    </div>
    <div class="col-sm-6 col-xs-10 form-top-margin">

        @if (ViewBag.CustomerID == null)
        {
            <div class="reservationWarning">NO CUSTOMER SELECTED YET</div>
        }
        else
        {
            <div>@ViewBag.CustomerName</div>
        }

    </div>
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Payment #</th>
                    <th>Date</th>
                    <th>Sites<br />
                    Reason For Payment</th>
                    <th style="text-align:right;">Reservation Item</th>
                    <th style="text-align:right;">Paid Amount</th>
                    <th style="text-align:right;">Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@item.createDate.Value.ToString("MMM") @item.createDate.Value.ToString("dd") @item.createDate.Value.ToString("yyyy") </td>
                        <td>@Html.DisplayFor(modelItem => item.sites) <br />
                            @Html.DisplayFor(modelItem => item.reasonforpayment)                            
                        </td>
                        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.selectionTotal)</td>
                        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.amount)</td>
                        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.balance)</td>
                    </tr>
                }
                @{ decimal dueAmount = ViewBag.CustomerBalance * -1; }
                @if (ViewBag.CustomerBalance <= 0)
                {
                    <tr>
                        <td colspan="5" style="text-align:right;">Due Amount</td>
                        <td style="text-align:right;">@dueAmount.ToString("N2")</td>
                    </tr>
                }
                else
                { 
                    <tr>
                        <td colspan="5" style="text-align:right;">Credit Amount</td>
                        <td style="text-align:right;">@ViewBag.CustomerBalance.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>