@model IPMRVPark.Models.payment

@{
    ViewBag.Title = "Payments & Refunds";
}

@Html.ActionLink("Home", "Menu", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
Payments & Refunds
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Payment Or Refund", "PaymentOrRefund", "Payment")

<script type="text/javascript">
    $(document).ready(function () {
        // Resolve root path
        var origin = window.location.origin;
        if (origin == 'http://www.alvm.com.br') {
            var root = 'http://www.alvm.com.br/ipmrvpark/';
        }
        else {
            var root = '../';
        }
        // **** Handle form submit
        $('#btnSave').hide();
        var formSubmit = false;
        $('form').submit(function() {
            return formSubmit;
        });
        $('#btnConfirm').click(function() {
            $('#btnConfirm').hide();
            $('#btnSave').prop('disabled', false);
            $('#btnSave').show();
            $('#btnSave').focus();
        });
        $( '#btnSave' ).click(function() {
            $('#waitMsg').show();// Show wait message
            formSubmit = true;
            $('form').submit();
        });
        // ***** Load partial view Payments For Customer
        $('#account-details').load('../Payment/ShowPaymentPerCustomer/@ViewBag.CustomerID');
        // ***** Load partial view Reservations For Customer
        $('#reservation-summary').load('../Reservation/ShowSelectionSummary');
        $('#PaymentMethod').change(function () {
            updatePaymentMethod()
        });
        updatePaymentMethod();
        function updatePaymentMethod() {
            var id = $('#PaymentMethod').val();
            $('#idPaymentMethod').val(id);
            var array = @Html.Raw(Json.Encode(@ViewBag.PayDocType));
            // Sort by ID
            array = array.sort(function(a, b){
                return a.Value-b.Value
            });
            //var text = '';
            //for (i = 0; i < array.length; i++) {
            //    text += array[i].Value + ' ' + array[i].Text + '<br>';
            //}
            //alert(text);
            //alert(array[id-1].Value + ' ' + array[id-1].Text);
            $('#docNumber').prop('placeholder', 'Type here: ' + array[id-1].Text);
        }
        // ***** Format Totals - Calculate Due/Credit
        $('#idReasonForPayment').val(@ViewBag.ReasonForPayment);
        $('#amount').val(@Model.amount);
        updateTotal();
        var False = 0;
        var True = 1;
        if (@ViewBag.isCredit==False){
            $('body').css('background-color', 'rgba(255,165,0,0.9)');
            $('#paid').hide();
            $('#refund').val(Math.abs(@Model.amount).toFixed(2));
        }
        else{
            $('#refund').hide();
            $('#paid').val((@Model.amount).toFixed(2));
            $('#amount').val($('#paid').val());
        }
        $('#paid').click(function(){
            $('#paid').val('');
        });
        $('#paid').change(function(){
            $('#amount').val($('#paid').val());
            updateTotal();
        });
        $('#refund').click(function(){
            $('#refund').val('');
        });
        $('#refund').change(function(){
            $('#amount').val(0-$('#refund').val());
            updateTotal();
        });
        function updateTotal(){

            var primaryTotal = parseFloat(@Model.primaryTotal).toFixed(2);
            $('#primaryTotal').val(primaryTotal);
            var owedAmount = parseFloat(Math.abs(@ViewBag.OwedAmount)).toFixed(2);
            $('#owedAmount').text(owedAmount);
            // Suggested amount for payment
            var amount = $('#amount').val();
            var amount = parseFloat(amount).toFixed(2);
            $('#amount').val(amount);
            // Balance after payment: due or refund amount
            var owedAmount = @ViewBag.OwedAmount;
            var balance = (parseFloat(amount) - owedAmount);
            var balance = parseFloat(balance).toFixed(2);
            $('#balance').val(balance);
            $('#creditAmount').val(balance);
            var dueAmount = parseFloat((balance*-1)).toFixed(2);
            $('#dueAmount').val(dueAmount);
            if(balance > 0){
                $('#creditLabel').show();
                $('#creditAmount').show();
                $('#dueLabel').hide();
                $('#dueAmount').hide();
            }
            else{
                $('#creditLabel').hide();
                $('#creditAmount').hide();
                $('#dueLabel').show();
                $('#dueAmount').show();
            }
            $('#PaymentMethod').focus()
            if( @ViewBag.CustomerID != -1 &&
                amount != 0 ){
                $('#btnConfirm').prop('disabled', false);
            }
            else{
                $('#btnConfirm').prop('disabled', true);
            };
        }
        // Create Date
        $('#paymentDate').datepicker({
            dateFormat: 'D, dd M',
            showOtherMonths: true,
            selectOtherMonths: true,
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            onSelect: function () {
                var createDate = $('#paymentDate').datepicker('getDate');
                $('#createDate').val(createDate.toISOString().substring(0, 10));
            }
        });
        $('#paymentDate').datepicker( 'setDate', '0' );
        var createDate = $('#paymentDate').datepicker('getDate');
        $('#createDate').val(createDate.toISOString().substring(0, 10));
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container-fluid">
        <div class="row top-margin">
            <!-- User Details -->
            <div class="col-sm-2 col-xs-12">
                <label>User</label>
            </div>
            <div class="col-sm-6 col-xs-10">
                    <div disabled class="form-control">@ViewBag.UserID</div>
            </div>
            <div class="col-sm-1 col-xs-12">
                <label>Date</label>
            </div>
            <div class="col-sm-3 col-xs-12">
                <input type="text" id="paymentDate" class="form-control" />
                <input style="display: none" type="date" id="createDate" class="form-control" />
            </div>
        </div>

        <div class="row top-margin">
            <!-- Customer Details -->
            <div class="col-sm-2 col-xs-12">
                <label>Customer</label>
            </div>
            <div class="col-sm-6 col-xs-10">
                @if (ViewBag.CustomerID == -1)
                {
                    <div class="form-control reservationWarning">NO CUSTOMER SELECTED YET</div>
                }
                else
                {
                    <div disabled class="form-control">@ViewBag.CustomerName</div>
                    <input class="form-control" type="hidden" id="idCustomer" name="idCustomer" value="@ViewBag.CustomerID" />
                }
            </div>
            <div class="col-sm-4 col-xs-12" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("SearchCustomer", "Customer" )" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>&nbsp; Select Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!-- Owed Amount -->
        <div class="row top-margin">
            <div class="col-sm-5 col-xs-12">
                <label>@ViewBag.OwedText</label>
            </div>
            <div class="col-sm-3 col-xs-12 ">
                <div id="owedAmount" disabled class="form-control payment-output"></div>
                <input type="hidden" name="idReasonForPayment" id="idReasonForPayment" class="form-control">
            </div>
            <div class="col-sm-4 col-xs-12" data-toggle="tooltip" title="Click To Expand/Collapse">
                <button type="button" class="btn btn-block btn-default" data-toggle="collapse" data-target="#calculation-details">
                    <span class="col-xs-1 glyphicon glyphicon-info-sign"></span>
                    <span class="col-xs-9"><b>Calc Details</b> &nbsp;<span class="collapsible"></span></span>
                </button>
            </div>
        </div>
        <!-- Payment Calculation details -->
        <div id="calculation-details" class="collapse">
            <div class="row form-top-margin" style="border-top: 2px solid #453425;">
                <!-- Customer Account History -->
                <div class="col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                    <label>@ViewBag.BalanceText</label>
                </div>
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <div disabled class="form-control payment-output" type="text" id="customerBalance" name="customerBalance">@ViewBag.CustomerBalance</div>
                </div>
                <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Click To Expand/Collapse">
                    <button type="button" class="btn btn-block btn-default" data-toggle="collapse" data-target="#account-details">
                        <span class="col-xs-1 glyphicon glyphicon-info-sign"></span>
                        <span class="col-xs-9">Account History &nbsp;<span class="collapsible"></span></span>
                    </button>
                </div>
            </div>
            <div id="account-details" class="collapse">
            </div>
            <div class="row">

            </div>
            @if (@ViewBag.PrimaryText != string.Empty)
            {
                <div class="row">
                    <!-- Previous Reservation  -->
                    <div class="col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                        <label>@ViewBag.PrimaryText</label>
                    </div>
                    <div class="col-sm-3 col-xs-12 form-top-margin">
                        <input type="text" class="form-control payment-output" value="@Model.primaryTotal" disabled>
                        <input type="hidden" name="primaryTotal" id="primaryTotal" class="form-control">
                    </div>
                </div>
            }
            @if (@ViewBag.FeeText != string.Empty)
            {
                <div class="row">
                    <!-- Cancellation Fee  -->
                    <div class="col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                        <label>@ViewBag.FeeText</label>
                    </div>
                    <div class="col-sm-3 col-xs-12 form-top-margin">
                        <input type="text" class="form-control payment-output" value="@Model.cancellationFee" disabled>
                        <input type="hidden" name="cancellationFee" id="cancellationFee" class="form-control" value="@Model.cancellationFee">
                    </div>
                </div>
            }
            <div class="row">
                <!-- New Reservation Details -->
                <div class="col-sm-5 col-sm-push-1 col-xs-12 form-top-margin">
                    <label>@ViewBag.SelectionText</label>
                </div>
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    @if (Model.selectionTotal == 0)
                {
                        <div class="form-control reservationWarning">NO SITE SELECTED</div>
                    }
                    else
                    {
                        <input type="text" class="form-control payment-output" value="@Model.selectionTotal" disabled>
                        <input type="hidden" name="selectionTotal" id="selectionTotal" class="form-control" value="@Model.selectionTotal">
                    }
                </div>
                <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Click To Expand/Collapse">
                    <button type="button" class="btn btn-block btn-default" data-toggle="collapse" data-target="#reservation-summary">
                        <span class="col-xs-1 glyphicon glyphicon-info-sign"></span>
                        <span class="col-xs-9">Reservation Details &nbsp;<span class="collapsible"></span></span>
                    </button>
                </div>
            </div>
            <div id="reservation-summary" class="collapse">
            </div>
            <div id="tax-calculation">
                <div class="row form-top-margin">
                    <div class="col-sm-6 col-sm-push-2 col-xs-12">
                        <label>(i) Amount Without Tax</label>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <input type="text" class="form-control payment-output" value="@Model.withoutTax" disabled>
                        <input type="hidden" name="withoutTax" id="withoutTax" class="form-control" value="@Model.withoutTax">
                    </div>
                </div>
                <div class="row form-top-margin">
                    <div class="col-sm-6 col-sm-push-2 col-xs-12">
                        <label>(ii) Tax HST/QST/PST (@ViewBag.ProvinceTax%)</label>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <input type="text" class="form-control payment-output" value="@Model.tax" disabled>
                        <input type="hidden" name="tax" id="tax" class="form-control" value="@Model.tax">
                    </div>
                </div>
            </div>
            <div class="row form-top-margin" style="border-top: 2px solid #453425;"></div>
        </div>
        <!-- End of calculation details -->
        <!-- Receive Total -->
        <div class="row top-margin">
            <div class="col-sm-5 col-xs-12">
                <label>@ViewBag.AmountText</label>
            </div>
            <div class="col-sm-3 col-xs-12">
                <input type="text" name="paid" id="paid" class="form-control payment-output" value="0.00">
                <input type="text" name="refund" id="refund" class="form-control payment-output" value="0.00">
                <input type="hidden" name="amount" id="amount" class="form-control" value="0.00">
            </div>
            <!-- Back To New Reservation -->
            @if (ViewBag.PrimaryText == string.Empty)
            {
                <div class="col-sm-4 col-xs-12" data-toggle="tooltip" title="Go To">
                    <a href="@Url.Action("NewReservation", "Reservation" )" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-tag"></span>
                        <span>&nbsp; Back To Reservation</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            }
            <!-- Back To Edit Reservation -->
            @if (ViewBag.PrimaryText != string.Empty)
            {
                <div class="col-sm-4 col-xs-12" data-toggle="tooltip" title="Go To">
                    <a href="@Url.Action("EditReservation", "Reservation" )" class="btn btn-block btn-default btn-mylink pagination-centered">
                        <span class="glyphicon glyphicon-tag"></span>
                        <span>&nbsp; Back To Edit</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            }

        </div>
        <!-- Receive Total -->
        <div class="row form-top-margin">
            <div class="col-sm-5 col-xs-12">
                <label id="dueLabel">(c) Due Amount |(b)-(a)|</label>
                <label id="creditLabel">(c) Credit (b)-(a)</label>
            </div>
            <div class="col-sm-3 col-xs-12">
                <input type="text" name="dueAmount" id="dueAmount" class="form-control payment-output" value="0.00" disabled>
                <input type="text" name="creditAmount" id="creditAmount" class="form-control payment-output" value="0.00" disabled>
                <input type="hidden" name="balance" id="balance" class="form-control" value="0.00">
            </div>
        </div>

        <div class="row form-top-margin">
            <div class="col-sm-2 col-xs-12">
                <label>Paid With</label>
            </div>
            <div class="col-sm-3 col-xs-12">
                @Html.DropDownList("PaymentMethod", null, null, new { @class = "form-control" })
                <input class="text-box single-line" id="idPaymentMethod" name="idPaymentMethod" type="hidden" />
            </div>
            <div class="col-sm-7 col-xs-12">
                <input type="text" class="form-control" name="docNumber" id="docNumber">
                @Html.ValidationMessageFor(model => model.docNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-top-margin">
            <div class="col-sm-2 col-xs-12">
                <label>Comments</label>
            </div>
            <div class="col-sm-10 col-xs-12">
                <textarea class="form-control" name="comments" id="comments" rows="2"></textarea>
                @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-top-margin">
            <div class="col-sm-4 col-sm-push-8 col-xs-12">
                <button id="btnConfirm" class="btn btn-block btn-default" type="button">
                    <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                    <span class="col-xs-9">Confirm</span>
                </button>
            </div>
        </div>
        <div class="row form-top-margin">
            <div class="col-sm-4 col-sm-push-4 col-xs-12">
                <button id="btnSave" class="btn btn-block btn-default" type="button">
                    <span class="col-xs-1 glyphicon glyphicon-save"></span>
                    <span class="col-xs-9">Save</span>
                </button>
            </div>
        </div>
    </div>
}
